/***Presentation du css-----------Debut
***/
body{
  font-family: 'Nunito', sans-serif;
  background-image:url(./img/ranggi-mangg.jpg);
  font-size: 25px;
}
h1 , h2 , h3 , h4 , h5 , h6{
  font-family: 'Pacifico', cursive; 
  text-align: center;
  font-size: 40px;
}
a{
  color: black;
}
/*********NaVBAR***********/
header{
  background-color: #ffffff;
}
.Navbar{
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  align-items: center;
background-color: #ffffff;
color: black;
}
.mycompé{
  margin-bottom:10px; 
  margin-left:10px; 
  margin-right: 10px;
  width: 110px;
  height: 65px;
}
.mycompéC{
width: 60px;
margin-bottom:10px; 
  margin-left:10px; 
  margin-right: 10px;
}
.mycompéB{
  margin-left:10px; 
  margin-bottom:10px; 
  width: 50px;
  height: 50px;
}
.mycompéR{
  margin-left:10px; 
  width: 70px;
}
.btn{
  color: gray;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  /*animation:  ease-in-out 0.2s background;*/
}

.Mylogo{
  height: 90px;
  width: 90px;
}
h2 , h3 {
  margin-top: 90px;
}
.Link{
  padding: 20px;
}
.MyPresentation{
  padding-top:60px; 
  width: 100%;
  text-align: center;
}
/********1st Part: Porfolio:About*/
.Container-Other{
  width: 100%;
}

.MySkill{
  list-style: none;
}
.Block-About{
  width: 100%;
  text-align: center;
}
/***Project***/
.Container-Card{
  display: flex;
  justify-content:space-around;
  margin: 135px;
}
/*.card-img-top-center{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
}*/
.Title-card{
  font-style:normal;
  text-align: center;
}
.MyDiv{
  width: 100%;
}
.text-card{
  margin: 10px;
}
.card{
  width:auto;
  height: auto;
  margin: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  box-shadow: 2px 1px 2px 1px;
 /* border-radius: 20px; */
}
.LinkCV{
  color: rgb(2, 2, 2);
}
.TxtCV{
  width: 100%;
  display: flex;
  justify-content: center;
}
.download{
  width: 25%;
  background-color: white;
  text-align: center;
  border: 2px solid black;
}
/******Footer******/
footer{
  width: 100%;
  background-color:#ffffff ;
  text-align: center;
  padding-top: 20px;
}

.LinkNetwork{
  font-size: 15px;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.TextNetwork{
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.TxtFooter{
  width: 100%;
  background-color: #f8f1f100;
  text-align: center;
}

/***Hover***/
.fa-twitter{
  color: #1da1f2;
}
.fa-github{
  color: black;
}


.LinkCV:hover{
  color: black;
  text-decoration: none;
  font-size: 30px;
}
.Navbar .Link:hover{
background-color:lightgrey;
}
a:hover{
  text-decoration: none;
  color: black;
}
.btn:hover{
color:gray;
}

  /*Media Queries Responsive:design*/
  @media all and (max-width: 640px){
    .Navbar{
      display: flex;
      flex-direction: column;
    }
    .Container-Card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    card{
        margin: 50px;
    }
    .download{
      width: 45%;
    }
    .LinkCV{
      color:rgb(3, 3, 3);
    }
}
@media screen and (min-width: 640px){
  /*.card{
    margin: 135px;
    height: 80vh;
  }*/
}
